In [1]:
print("hello")

hello

In [4]:
print(""""'""")

"'

In [5]:
print(""""""")

SyntaxError: unterminated string literal (detected at line 1) (3465750001.py, line 1)

In [6]:
print("""""""")   # bos string verir.Hata vermez calisir ama bos verir.

In [8]:
print("""techpro"""'gul'"?"'!')

techprogul?!

In [10]:
print(""""2"""")

SyntaxError: unterminated string literal (detected at line 1) (3612974526.py, line 1)

In [11]:
print(""""2""")

"2

# pep8 Kurallari

In [13]:
3 + 6        # pep8 kurallarinda aralara bosluk koyariz.clean code.

9

In [15]:
print(""" Bugun python dersinin ikinci gunu.Derse baslarken hoca basladi bir tirnak mevzuzuna bir turlu bitmedi.insallah basima bela olmaz""")# pep 8 derki ; bir satirda 79 karakterden fazlasi olmasin.

 Bugun python dersinin ikinci gunu.Derse baslarken hoca basladi bir tirnak mevzuzuna bir turlu bitmedi.insallah basima bela olmaz

# Comment

In [ ]:
3 + 5 # 3 ILE 5 IN TOPLAMIDIR

In [ ]:
3 +5 # 3 ile 5

VARIABLES (DEGISKENLER)

In [16]:
print ("Techpro education")

Techpro education

In [21]:
course = "Techpro education)

In [19]:
print(course)

 Techpro education

In [22]:
print (name)

NameError: name 'name' is not defined

In [23]:
name="Kader"

In [24]:
print(name)

Kader

In [25]:
print(age)

NameError: name 'age' is not defined

In [26]:
age=32

In [27]:
print(age)

32

In [28]:
age_2=35
print(age_2)

35

In [31]:
name_1="Orkun"
name2="Serhan"

In [30]:
pi-number=3.14

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2582190530.py, line 1)

In [32]:
name-3="emre"  #Degisken tanimlarken numeric karakterler basta olamaz.
4_name="mikail"

SyntaxError: invalid decimal literal (2406004252.py, line 2)

In [33]:
$name=(Kader)    #$ isareti sytax error verdi'

SyntaxError: invalid syntax (2365160595.py, line 1)

In [37]:
name_5 = "Aytac"
name_6 = "Erkan"
age_3 = 33

In [38]:
print(name_6 ,name_5, age_3)

Erkan Aytac 33

In [40]:
print(name_6, name_5 age_3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3405717067.py, line 1)

In [47]:
name_7, name_8 ="Mustafa", "Ceren"

In [48]:
print(name_7,name_8)

Mustafa Ceren

In [50]:
name_9, name_10 = "Kadir, Betul"

ValueError: too many values to unpack (expected 2)

In [51]:
name_11, name_12 ="Sumeyye","Sumeyye"

In [52]:
name_13=name_14="Ahmet"

In [53]:
print(name_13, name_14)

Ahmet Ahmet

In [54]:
first_name ="Sedat"
last_name ="Aslan"

In [57]:
f_n = "Sedat"
l_n ="Aslan"

DATA TYPES

In [59]:
"hello world" # string

'hello world'

In [60]:
"35"   #string

'35'

In [61]:
type("hello world")

str

In [62]:
type("35")

str

In [64]:
name

'Kader'

In [65]:
type(name)

str

In [66]:
age_4 =25

In [67]:
type(age_4)

int

In [68]:
kesirli_sayi = 5.4

In [69]:
type(kesirli_sayi)

float

In [75]:
type (pi_number)

NameError: name 'pi_number' is not defined

In [77]:
pi_number_2 =3,14

In [79]:
type(pi_number_2)

tuple

In [80]:
type(False)  #Matematiksel karsiligi (0)dir.Yoklugu ifade eder.Buyuk harfle baslar.

bool

In [81]:
type(True)   #Matemeatiksel karsiligi (1)dir.Varligi ifade eder.Buyuk harfle baslar.

bool

In [85]:
printaraba=("renault")

In [86]:
araba_2 = "renault"

In [87]:
print(araba_2)

renault

In [88]:
araba_2 = "opel"

In [90]:
print(araba_2)

opel

In [91]:
arabanin_yasi =3

In [92]:
arabanin_kilometresi =1250.4

In [97]:
arabanin_kazasi_2 =False #BOOLEAN DATA TIPIDIR BU YAZILIM

In [100]:
arabanin_kazasi_2 = "False"

In [101]:
type(arabanin_kazasi_2)

str

In [105]:
araba_3 = "citroen"

In [106]:
araba_3 ="ford"

In [107]:
print(araba_3)

ford

In [115]:
del araba_3

NameError: name 'araba_3' is not defined